// Color scheme

// First color scheme
$white :#FFF;
$platinum :#E8E8E8;
$light-gray: lightgray;

// Second color scheme
$Fuzzy-Wuzzy: #e56353;
$rudy-pink: #d76c69;
$spanish-pink: #F7BFB6;

// Third color scheme
$Eerie-black: #121619;
$Raisin-black: #222323;
$nickel: #6c6e70;

// Font Family
$roboto: 'Roboto';
$playfair: 'Playfair-Display';

// Typography

//Font-weight
$regular: 400;
$light: 300;
$black: 900;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Font-style
$italic: italic;

//background image
$main-img: url("../../images/post-image.jpg");

// Tamaños pantallas

$screen-lg-min: 1080px;
$screen-md-min: 992px;
$screen-sm-min: 480px;

 @media (max-width: $screen-sm-min) {
     #texto-principal, #botones-sociales{
    margin-right: 1em;
    margin-left:1em; 
    text-align: center;
 }
 }
 @media (max-width: $screen-sm-min) {
    .img-footer{
    width: 50px;
}
}
