@media (max-width: 480px) {
  #texto-principal, #botones-sociales {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .img-footer {
    width: 50px;
  }
}
@media (max-width: 480px) {
  #texto-principal, #botones-sociales {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .img-footer {
    width: 50px;
  }
}
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.navbar-dark {
  background-color: #121619;
  color: lightgray;
  width: 100%;
}

#fila-3-footer {
  background-color: #121619;
  color: lightgray;
  width: 100%;
}

#navbarSupportedContent {
  text-align: right;
}

.navbar-brand img {
  width: 120px;
  margin-left: 1.5em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
}

.nav-link:hover {
  color: #e56353;
}

@media (max-width: 480px) {
  #texto-principal, #botones-sociales {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .img-footer {
    width: 50px;
  }
}
#imagen-primera img {
  background-image: url("../../images/post-image.jpg");
  background-clip: border-box;
}

#imagen-primera h1 {
  font-size: 70px;
  color: #FFF;
  font-weight: 900;
  font-style: italic;
  font-family: "Playfair-Display";
}

#naomi img {
  width: 10em;
}

#nombre-naomi h3 {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  font-family: "Playfair-Display";
}

.main_title {
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
}

#texto-principal {
  margin-top: 4em;
  margin-bottom: 4em;
}

.img-footer {
  width: 150px;
}

@media (max-width: 480px) {
  #texto-principal, #botones-sociales {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .img-footer {
    width: 50px;
  }
}
.page-link-btn-lg {
  display: flex;
  font-family: "Roboto";
  font-weight: 16px;
  color: #FFF;
  text-align: center;
  border-radius: 2em;
  background-color: #6c6e70;
  margin: 1em;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #6c6e70;
  border: lightgray solid transparent;
}

.page-link-btn-lg:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #E8E8E8;
  border-color: #6c6e70;
}

#botones-sociales {
  margin-top: 5em;
  margin-bottom: 5em;
}

.page-link {
  color: #6c6e70;
  text-decoration: none;
  background-color: #FFF;
  border-color: lightgray;
}

.page-link:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #6c6e70;
  border-color: lightgray;
}

@media (max-width: 480px) {
  #texto-principal, #botones-sociales {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .img-footer {
    width: 50px;
  }
}
@media (max-width: 480px) {
  #texto-principal, #botones-sociales {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .img-footer {
    width: 50px;
  }
}
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.navbar-dark {
  background-color: #121619;
  color: lightgray;
  width: 100%;
}

#fila-3-footer {
  background-color: #121619;
  color: lightgray;
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-direction: column-reverse;
}

html {
  scroll-behavior: smooth;
}

footer {
  border-color: lightgray;
}

#fila-2-footer,
#fila-3-footer {
  display: block;
}

#fila-1-footer {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FFF;
  padding-top: 1em;
  padding-bottom: 1em;
}

#fila-1-footer img {
  border-radius: 9em;
}

#fila-2-footer {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #E8E8E8;
  padding-top: 2em;
  padding-bottom: 2em;
}

.pagination {
  margin-bottom: 0em;
}

#fila-3-footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 0em;
  padding-left: 0em;
}

#anterior {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#siguiente {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.container {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
