@import "../abstracts/variables";


#imagen-primera {
    background-image: $main-img;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#imagen-primera h1 {
    font-size: $xx-large;
    color: $white;
    font-weight: $black;
    font-style: $italic;
    font-family: $playfair;
    width: 550px;
    margin: 150px auto 0;
}

#naomi img {
    width: 10em;
}

#nombre-naomi h3 {
    font-size: $x-large;
    font-weight: $black;
    font-style: $italic;
    font-family: $playfair;
}

.main_title {
    text-align: left;
    font-family: $roboto;
    font-size: $medium;
    $largo: 100%;
}

#texto-principal {
    margin-top: 4em;
    margin-bottom: 4em;
}

p.texto-naomi {
    color: $rudy-pink;
    font-family: $roboto;
    font-style: $italic;
    font-weight: $regular;
    font-size: $medium;

}

.img-footer {
    width: 150px;
}