@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column-reverse;
}

html {
    scroll-behavior: smooth;
}

footer {
    border-color: $light-gray;
}

#fila-2-footer,
.bg-dark {
    display: block;
}

#fila-1-footer {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $white;
    padding-top: 1em;
    padding-bottom: 1em;
}

#fila-1-footer img {
    border-radius: 9em;
}

#fila-2-footer {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $platinum;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pagination {
    margin-bottom: 0em;
}

.bg-dark {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0em;
    padding-left: 0em;
}

#anterior {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#siguiente {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.container {
    text-align: center;
}